<div class="container-fluid navbar">
        <mat-toolbar color='none' class="custom-header">
            <a routerLink="/home">
                <svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.61201 24H6.31399L6.55251 23.3398L7.88199 19.66H14.99L16.3195 23.3398L16.558 24H17.26H19.948H21.3738L20.8882 22.6595L13.8602 3.25546L13.6214 2.59601H12.92H9.98001H9.27958L9.04022 3.25427L1.98422 22.6583L1.49631 24H2.92401H5.61201ZM9.3281 15.588L11.436 9.69924L13.5439 15.588H9.3281Z" stroke="#64FFDA" stroke-width="2"/>
                </svg>                                     
            </a>
            <div class="spacer"></div>
            <a mat-button routerLink="" routerLinkActive="active">About</a>
            <a mat-button routerLink="" routerLinkActive="active">Experience</a>
            <a mat-button routerLink="" routerLinkActive="active">Work</a>
            <a mat-button routerLink="" routerLinkActive="active">Contact</a>
            <a id="resume" mat-button color='light' routerLink="spartan-gear" routerLinkActive="active">Resume</a>
        </mat-toolbar>
</div>
