<div class="container mx-auto" style="margin-top: 60px;" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    
    <div class="container column">
            <div class="square"><img src="assets/image.JPG"></div>
    </div>
    
    <div class="container middle">
        <h3>Hi, My name is,</h3>
        <h2>{{name}}</h2>
        <div class="para">
            <p>
                I'm a Software Engineer. 
                I enjoy creating things that live on the internet, whether that be websites, applications, or anything in between.
            </p>
        </div>
        <a [href]="mailto">Get in Touch</a>
    </div>
    <!-- <div class="social">
        <a href="" class="btn btn-social-icon btn-github social_github">
            <span class="fa fa-github"></span>
          </a>
    </div> -->
</div>