
#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

#logo path:only-child{
    stroke-dasharray: 572px;
    stroke-dashoffset: 572px;
    animation: line-anim 3s ease forwards;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}